<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}" data-theme="light">
    <head>
        <title>{{ .Site.Title }} • {{ .Title }}</title>
        <meta charset="{{ .Site.Params.charset }}">
        <meta name="viewport" content="{{ .Site.Params.viewport }}">
        <meta name="description" content="{{ .Site.Params.description }}">
        <meta name="keywords" content="{{ .Site.Params.keywords }}">
        <meta name="author" content="{{ .Site.Params.author }}">
        <link rel="preload" as="style" href="{{ "/vendor/fontawesome/css/all.min.css" | absURL }}">
        <link rel="preload" as="style" href="{{ "/vendor/picocss/css/pico.min.css"    | absURL }}">
        <link rel="preload" as="style" href="{{ "/assets/css/index.css"               | absURL }}">
        <link rel="stylesheet" href="{{ "/vendor/fontawesome/css/all.min.css" | absURL }}">
        <link rel="stylesheet" href="{{ "/vendor/picocss/css/pico.min.css"    | absURL }}">
        <link rel="stylesheet" href="{{ "/assets/css/index.css"               | absURL }}">
        {{- partial "opengraph.html" . -}}
    </head>
    <body>
        {{- partial "header.html"  . -}}
        {{- partial "navbar.html"  . -}}
        {{- partial "content.html" . -}}
        {{- partial "footer.html"  . -}}
        <script type="module" src="{{ "/assets/js/synth.js" | absURL }}"></script>
    </body>
</html>
