<!-- err404 -->
<main class="container">
    <article style="text-align: center;">
        <header>
            <h2>Error 404</h2>
        </header>
        <section>
            <p>The requested page was not found!</p>
            <p><img src="{{ "/assets/images/ay-3-8910-die.jpg" | absURL }}" alt="AY-3-8910 die"></p>
            <p>Try going back to the <a href="#" onclick="history.back();">previous page</a> or to the <a href="{{ "/" | absURL }}">home page</a>.</p>
        </section>
    </article>
</main>
