<!-- footer -->
<footer>
    <div class="grid" style="text-align: center;">
        <p style="font-size: xx-large;">
            <a href="{{ .Site.Params.Links.GitHub    }}" target="_blank" title="{{ .Site.Params.Labels.GitHub    }}"><i class="{{ .Site.Params.Icons.GitHub    }}">&nbsp;</i></a>
            <a href="{{ .Site.Params.Links.GitLab    }}" target="_blank" title="{{ .Site.Params.Labels.GitLab    }}"><i class="{{ .Site.Params.Icons.GitLab    }}">&nbsp;</i></a>
            <a href="{{ .Site.Params.Links.Bitbucket }}" target="_blank" title="{{ .Site.Params.Labels.Bitbucket }}"><i class="{{ .Site.Params.Icons.Bitbucket }}">&nbsp;</i></a>
            <a href="{{ .Site.Params.Links.Twitter   }}" target="_blank" title="{{ .Site.Params.Labels.Twitter   }}"><i class="{{ .Site.Params.Icons.Twitter   }}">&nbsp;</i></a>
            <a href="{{ .Site.Params.Links.Bluesky   }}" target="_blank" title="{{ .Site.Params.Labels.Bluesky   }}"><i class="{{ .Site.Params.Icons.Bluesky   }}">&nbsp;</i></a>
            <a href="{{ .Site.Params.Links.LinkedIn  }}" target="_blank" title="{{ .Site.Params.Labels.LinkedIn  }}"><i class="{{ .Site.Params.Icons.LinkedIn  }}">&nbsp;</i></a>
            <a href="{{ .Site.Params.Links.Twitch    }}" target="_blank" title="{{ .Site.Params.Labels.Twitch    }}"><i class="{{ .Site.Params.Icons.Twitch    }}">&nbsp;</i></a>
            <a href="{{ .Site.Params.Links.YouTube   }}" target="_blank" title="{{ .Site.Params.Labels.YouTube   }}"><i class="{{ .Site.Params.Icons.YouTube   }}">&nbsp;</i></a>
        </p>
    </div>
    <div class="container" style="text-align: center;">
        <p><small>{{ .Site.Params.copyright }} - {{ .Site.Params.author }}</small></p>
    </div>
</footer>
