<!-- header.html -->
<div class="burger-menu">
    <details>
        <summary><i class="fa-solid fa-bars fa-2x"></i></summary>
        <ul>
            <li><i class="{{ "fa-solid fa-fw fa-home"     }}"></i> <a href="{{ "."           | absURL }}">{{ "Home"                }}</a></li>
            <li><i class="{{ "fa-solid fa-fw fa-tags"     }}"></i> <a href="{{ "categories/" | absURL }}">{{ "Categories"          }}</a></li>
            <li><i class="{{ "fa-solid fa-fw fa-tags"     }}"></i> <a href="{{ "tags/"       | absURL }}">{{ "Tags"                }}</a></li>
            <li><i class="{{ "fa-solid fa-fw fa-play"     }}"></i> <a href="{{ "player/"     | absURL }}">{{ "AY/YM Music Player"  }}</a></li>
            <li><i class="{{ "fa-solid fa-fw fa-music"    }}"></i> <a href="{{ "synth/"      | absURL }}">{{ "Virtual Synthetizer" }}</a></li>
            <li><i class="{{ "fa-solid fa-fw fa-code"     }}"></i> <a href="{{ "code/"       | absURL }}">{{ "Source Code"         }}</a></li>
            <li><i class="{{ "fa-solid fa-fw fa-section"  }}"></i> <a href="{{ "license/"    | absURL }}">{{ "License"             }}</a></li>
            <li><i class="{{ "fa-solid fa-fw fa-question" }}"></i> <a href="{{ "about/"      | absURL }}">{{ "About"               }}</a></li>
        </ul>
    </details>
</div>
<header>
    <hgroup class="container">
        <h1>{{ .Site.Title }}</h1>
        <p>{{ .Site.Params.tagline }}</p>
    </hgroup>
</header>
