<!-- navbar.html -->
<nav>
    <ul class="mobile-menu">
        <li>
            <details class="burger">
                <summary><i class="fa-solid fa-bars"></i></summary>
                <ul>
                    <li><i class="{{ "fa-solid fa-fw fa-home"     }}">&nbsp;</i><a href="{{ "."           | absURL }}">Home</a></li>
                    <li><i class="{{ "fa-solid fa-fw fa-tags"     }}">&nbsp;</i><a href="{{ "categories/" | absURL }}">Categories</a></li>
                    <li><i class="{{ "fa-solid fa-fw fa-tags"     }}">&nbsp;</i><a href="{{ "tags/"       | absURL }}">Tags</a></li>
                    <li><i class="{{ "fa-solid fa-fw fa-play"     }}">&nbsp;</i><a href="{{ "player/"     | absURL }}">AY/YM Music Player</a></li>
                    <li><i class="{{ "fa-solid fa-fw fa-music"    }}">&nbsp;</i><a href="{{ "synth/"      | absURL }}">Virtual Synthetizer</a></li>
                    <li><i class="{{ "fa-solid fa-fw fa-code"     }}">&nbsp;</i><a href="{{ "code/"       | absURL }}">Source Code</a></li>
                    <li><i class="{{ "fa-solid fa-fw fa-section"  }}">&nbsp;</i><a href="{{ "license/"    | absURL }}">License</a></li>
                    <li><i class="{{ "fa-solid fa-fw fa-question" }}">&nbsp;</i><a href="{{ "about/"      | absURL }}">About</a></li>
                </ul>
            </details>
        </li>
    </ul>
    <ul class="desktop-menu">
        <li><a href="{{ "."        | absURL }}">Home</a></li>
        <li><a href="{{ "player/"  | absURL }}">Player</a></li>
        <li><a href="{{ "synth/"   | absURL }}">Synth</a></li>
        <li><a href="{{ "code/"    | absURL }}">Code</a></li>
        <li><a href="{{ "license/" | absURL }}">License</a></li>
        <li><a href="{{ "about/"   | absURL }}">About</a></li>
    </ul>
    <ul>
        <li><i id="theme-switcher" class="fa-solid fa-circle-half-stroke"></i></li>
    </ul>
</nav>
