<!-- navbar.html -->
<nav>
    <ul>
        <li>&nbsp;</li>
    </ul>
    <ul class="desktop-menu">
        <li><a href="{{ "."        | absURL }}">Home</a></li>
        <li><a href="{{ "player/"  | absURL }}">Player</a></li>
        <li><a href="{{ "synth/"   | absURL }}">Synth</a></li>
        <li><a href="{{ "code/"    | absURL }}">Code</a></li>
        <li><a href="{{ "license/" | absURL }}">License</a></li>
        <li><a href="{{ "about/"   | absURL }}">About</a></li>
    </ul>
    <ul>
        <li><i id="theme-switcher" class="fa-solid fa-circle-half-stroke"></i></li>
    </ul>
</nav>
