<!-- synth -->
<div id="aymSynth">
    <fieldset id="aymPlaybackControls">
        <legend>Playback</legend>
        <div class="grid">
            <p id="aymDisplay">AYM·Synth</p>
        </div>
    </fieldset>
    <fieldset id="aymOutputControls">
        <legend>Output</legend>
        <div class="grid">
            <input id="aymGain" type="range">
        </div>
        <div class="grid">
            <button id="aymMuteA"><i class="{{ .Site.Params.Icons.MuteA }}"></i><br>{{ .Site.Params.Labels.MuteA }}</button>
            <button id="aymMuteB"><i class="{{ .Site.Params.Icons.MuteB }}"></i><br>{{ .Site.Params.Labels.MuteB }}</button>
            <button id="aymMuteC"><i class="{{ .Site.Params.Icons.MuteC }}"></i><br>{{ .Site.Params.Labels.MuteC }}</button>
        </div>
    </fieldset>
    <fieldset id="aymEmulationControls">
        <legend>Emulation</legend>
        <div class="grid">
            <button id="aymPower"><i class="{{ .Site.Params.Icons.Power }}"></i><br>{{ .Site.Params.Labels.Power }}</button>
            <button id="aymReset"><i class="{{ .Site.Params.Icons.Reset }}"></i><br>{{ .Site.Params.Labels.Reset }}</button>
            <button id="aymPause"><i class="{{ .Site.Params.Icons.Pause }}"></i><br>{{ .Site.Params.Labels.Pause }}</button>
        </div>
    </fieldset>
</div>
