<!-- synth -->
<div id="aymSynth">
    <fieldset id="aymPlaybackControls">
        <legend>Playback</legend>
        <div class="grid">
            <p id="aymDisplay">AYM·Synth</p>
        </div>
    </fieldset>
    <fieldset id="aymOutputControls">
        <legend>Output</legend>
        <div class="grid">
            <div><label for="aymGain">Gain</label><input id="aymGain" type="range"></div>
        </div>
        <div class="grid">
            <button id="aymChip0"><i class="{{ .Site.Params.Icons.Chip0 }}"></i><br>{{ .Site.Params.Labels.Chip0 }}</button>
            <button id="aymMuteA"><i class="{{ .Site.Params.Icons.MuteA }}"></i><br>{{ .Site.Params.Labels.MuteA }}</button>
            <button id="aymMuteB"><i class="{{ .Site.Params.Icons.MuteB }}"></i><br>{{ .Site.Params.Labels.MuteB }}</button>
            <button id="aymMuteC"><i class="{{ .Site.Params.Icons.MuteC }}"></i><br>{{ .Site.Params.Labels.MuteC }}</button>
        </div>
        <div class="grid">
            <button id="aymChip1"><i class="{{ .Site.Params.Icons.Chip1 }}"></i><br>{{ .Site.Params.Labels.Chip1 }}</button>
            <button id="aymMuteD"><i class="{{ .Site.Params.Icons.MuteA }}"></i><br>{{ .Site.Params.Labels.MuteA }}</button>
            <button id="aymMuteE"><i class="{{ .Site.Params.Icons.MuteB }}"></i><br>{{ .Site.Params.Labels.MuteB }}</button>
            <button id="aymMuteF"><i class="{{ .Site.Params.Icons.MuteC }}"></i><br>{{ .Site.Params.Labels.MuteC }}</button>
        </div>
    </fieldset>
    <fieldset id="aymEmulationControls">
        <legend>Emulation</legend>
        <div class="grid">
            <button id="aymPower"><i class="{{ .Site.Params.Icons.Power }}"></i><br>{{ .Site.Params.Labels.Power }}</button>
            <button id="aymReset"><i class="{{ .Site.Params.Icons.Reset }}"></i><br>{{ .Site.Params.Labels.Reset }}</button>
            <button id="aymPause"><i class="{{ .Site.Params.Icons.Pause }}"></i><br>{{ .Site.Params.Labels.Pause }}</button>
        </div>
    </fieldset>
    <fieldset id="aymAnalyserControls">
        <legend>Analyser</legend>
        <div class="grid">
            <div><label for="aymAnalyse"><input id="aymAnalyse" type="checkbox" role="switch"> Enable</label></div>
        </div>
        <div class="grid">
            <canvas id="aymCanvas" width="640" height="200"></canvas>
        </div>
    </fieldset>
</div>
