# ----------------------------------------------------------------------------
# error documents
# ----------------------------------------------------------------------------

ErrorDocument 404 /404.html

# ----------------------------------------------------------------------------
# End-Of-File
# ----------------------------------------------------------------------------
