<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>
        {{- partial "head.html"      . -}}
        {{- partial "opengraph.html" . -}}
    </head>
    <body>
        {{- partial "header.html" . -}}
        {{- partial "navbar.html" . -}}
        {{- partial "home.html"   . -}}
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
        <script type="{{ "module" }}" src="{{ "assets/js/player.js" | absURL }}"></script>
    </body>
</html>
